{{#compress}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> site/metas }}
    <title>Making Developers</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    {{> site/header }}

    <div class="container">
      {{{ body }}}
    </div>

    {{> development/livereload }}
  </body>
</html>
{{/compress}}
